/**
 * Github Corners by Tim Holman
 * https://github.com/tholman/github-corners
 */

.githubCorner {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.octoArm {
  transform-origin: 130px 106px;
}

.githubCorner:hover .octoArm {
  animation: octocat-wave 560ms ease-in-out;
}

@media (max-width: 500px) {
  .githubCorner:hover .octoArm {
    animation: none;
  }

  .githubCorner .octoArm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

@keyframes octocat-wave {
  0% {
    transform: rotate(0deg);
  }

  20% {
    transform: rotate(-25deg);
  }

  40% {
    transform: rotate(10deg);
  }

  60% {
    transform: rotate(-25deg);
  }

  80% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
