@custom-media --desktop (width >= 500px), (height >= 500px);
@custom-media --mobile (width <= 500px), (height <= 500px);

:root {
  --redishGray: #32050C;
  --red: #9F0F17;
  --gray: #333;
  --white: #DDD;
}

.screen {
  composes: object from 'src/Console/Console.css';
  background: var(--redishGray);
  font-family: monospace;
  font-size: 5vmin;
  color: var(--red);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25%;
}
