:root {
  --redishGray: #32050C;
  --red: #9F0F17;
  --gray: #333;
  --white: #DDD;
}

.screen {
  composes: screen from '../Console/Console.css';
  background: var(--redishGray);
  color: var(--red);
  border-radius: 25%;

  font-family: monospace;
  font-size: 5vmin;

  display: flex;
  align-items: center;
  justify-content: center;
}
