@custom-media --desktop (width >= 500px), (height >= 500px);
@custom-media --mobile (width <= 500px), (height <= 500px);

:root {
  --borderColor: #333;
}

.simon {
  height: 90vmin;
  width: 90vmin;
  background-color: var(--borderColor);
  box-shadow: 0 0 5px var(--borderColor);
  border-style: solid;
  border-color: var(--borderColor);
  border-radius: 50%;
  overflow: hidden;

  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "green red"
                        "yellow blue";
}

@media (--desktop) {
  .simon {
    border-width: 25px;
    grid-gap: 25px;
  }
}

@media(--mobile) {
  .simon {
    border-width: 15px;
    grid-gap: 15px;
  }
}
