:root {
  --green: #00A74A;
  --red: #9F0F17;
  --blue: #094A8F;
  --yellow: #CCA707;
}

.green {
  background-color: var(--green);
  grid-area: green;
}

.red {
  background-color: var(--red);
  grid-area: red;
}

.blue {
  background-color: var(--blue);
  grid-area: blue;
}

.yellow {
  background-color: var(--yellow);
  grid-area: yellow;
}
