.footer {
  text-align: right;
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.text {
  font-family: Helvetica;
  font-size: 2vh;
  color: #333;
}

.text:hover {
  transition: 1s;
  color: #CCC;
}
