html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

a,
button {
  transition: .3s;
  text-decoration: none;
  color: inherit;
  border: 0;
  background: none;
  cursor: pointer;
  outline: 0;
}
