:root {
  --red: #9F0F17;
  --yellow: #CCA707;
  --gray: #333;
  --white: #DDD;
}

.console {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: var(--white);
  border-color: var(--gray);
  border-style: solid;
  border-radius: 50%;

  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
}

.title {
  width: 100%;
  margin-bottom: 3vmin;
  font-size: 9vmin;
  font-family: Tahoma, sans-serif;
  letter-spacing: -.5vmin;
  font-weight: bolder;
}
.sup {
  font-size: 5vmin;
}

.screenContainer,
.strictContainer,
.resetContainer {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin: 1vmin;
  text-align: center;
}

.screen,
.strictButton,
.resetButton {
  border: var(--gray) solid 4px;
  box-shadow: 0 1px 3px var(--gray);
}

.resetButton {
  border-radius: 50%;
  background-color: var(--red);
}
.strictButton {
  border-radius: 50%;
  background-color: var(--yellow);
}

.resetButton:active {
  transition: .05s;
  filter: brightness(1.5);
}
.strictButtonOn {
  composes: strictButton;
  filter: brightness(1.5);
}

.label {
  margin-top: 1vmin;
  font-family: Helvetica;
}

@media (min-width: 500px), (min-height: 500px) {
  .console {
    height: 45vmin;
    width: 45vmin;
    border-width: 20px;
  }
  .title {
    margin-left: 5vmin;
  }
  .screen,
  .strictButton,
  .resetButton  {
    height: 8vmin;
    width: 8vmin;
  }
  .label {
   font-size: 1.75vmin;
  }
}

@media (max-width: 500px), (max-height: 500px) {
  .console {
    height: 55vmin;
    width: 55vmin;
    border-width: 10px;
  }
  .title {
    margin-left: 10vmin;
    margin-right: auto;
  }
  .screen,
  .strictButton,
  .resetButton  {
    height: 10vmin;
    width: 10vmin;
  }
  .label {
    font-size: 2.25vmin;
  }
}
